.banner {
  color: $main_bg;
  min-height: 100vh;
  @include displayCenter(center, center);
  .banner__left {
    @include displayCenter(center, center);
    height: 100%;
    .content {
      h1 {
        font-family: $Zen !important;
        background: $neon_background_seven;

        background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          background: $neon_background_six;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      
    }
  }
  .banner__right {
    height: 100%;
    .img__wrapper {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
      }
    }
  }
}
