// notfound
.notfound {
  background: orange;
  background: url('https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
    no-repeat center center/cover;

  height: 90.7vh;
  color: $primary_color;
  padding: 10px;
  @include displayCenter(center, center);
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .notfound_content {
    @include displayCenter(center, center);
    flex-direction: column;
    position: relative;
    text-transform: capitalize;
    font-family: $Mulish;
    img {
      width: 100px;
    }
    h1 {
      font-size: 4rem;
    }
    h5 {
      font-size: 18px;
    }
    .back_to_home {
      background: $brand_color_hover;
      color: $primary_color;
      margin: 20px 0;
      padding: 8px 10px;
      border-radius: 5px;
      .icon {
        color: $primary_color;
        font-size: 1.6rem;
        margin-right: 5px;
      }
      &:hover {
        background: $brand_color;
      }
    }
  }
}
