@media only screen and (max-width: 1200px) {
  .banner {
    .banner__right {
      display: none;
    }
  }
}
@media only screen and (max-width: 992px) {
  .about {
    .about__left__col {
      order: 2;
    }
    .about__right__col {
      order: 1;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
  .success__message {
    padding: 20px 5px;
  }
  .section__title {
    h1 {
      font-size: 1.5rem;
    }
  }
  .resume__btn {
    padding: 8px 15px !important;
    font-size: 12px !important;
  }

  .banner {
    .banner__left {
      .content {
        h1 {
          font-size: 1.3rem;
        }
      }
    }
  }

  .about {
    .about__left {
      h1 {
        font-size: 1.3rem;
      }
      h3 {
        font-size: 1rem;
      }
      p {
        font-size: 14px;
      }
    }
    .about__right {
      .img__ {
        width: 200px;
        height: 200px;
      }
    }
  }

  .skills {
    .database,
    .tools,
    .web,
    .programming {
      h2 {
        font-size: 1rem;
      }
    }
  }
  .contact {
    margin: 5px !important;
    h2 {
      font-size: 1.3rem;
    }
    .contact__left {
      .links {
        .add {
          h4 {
            font-size: 1rem;
          }
          p,
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  .all_projects .projects_wrapper .project_card .project_description h3 {
    font-size: 1rem;
  }
}
